{{> navBar}}

<div class="container-flex new-form">

    <div class="row align-items-start justify-content-around">

        <div class="col-4 section-list">

            <h2>New place</h2>

            <form action="/places/new" method="post">

                <label for="name">Name</label>
                <input type="text" name="name"><br>

                <span>Location:</span><br>

                <label for="ingredients">Latitude</label>
                <input type="text" name="latitude"><br>

                <label for="ingredients">Longitude</label>
                <input type="text" name="longitude"><br>

                <button class="hover-btn" type="submit">Add place</button>

            </form>

            <a class="hover-btn" href="/places">Go back</a>

        </div>

        <div class="col-6">

            <img class="image animation show fadeIn" src="/images/Pasteleria.jpg" alt="tienda">

            <div class="row justify-content-start">

                <div class="col-8">

                    <p class="quote animation show fadeIn">"You can't buy happiness, but you can buy cake and that's
                        kind the same thing"</p>

                </div>

            </div>

        </div>

    </div>

</div>

{{> footer}}