{{> navBar}}


<div class="container-flex section">

    <div class="row justify-content-around align-items-start">

        <div class="col-4 section-list">

            <h2>Recipes List</h2>

            {{#each recipes}}

            <ul>

                <li>{{name}} | <a class="recipe-a" href="/recipes/{{id}}">See recipe</a> | <a class="recipe-a"
                 href="/recipes/{{id}}/delete">Delete recipe</a></li>

            </ul>

            {{/each}}

            <a class="hover-btn btn" href="/recipes/new">Add recipe</a>

            <a class="hover-btn btn" href="/welcome">Go back</a>

        </div>

        <div class="col-6">

            <img class="image show fadeIn" src="/images/receta.png">

            <div class="row justify-content-start">

                <div class="col-8">

                    <p class="quote mini show fadeIn">"No one is born a great cook. One learns by doing"</p>

                </div>

            </div>

        </div>

    </div>

</div>

{{> footer}}