<main class="main-profile">

    {{> navBar}}

    <section class="profile">

        <div class="container-flex">

            <div class="row align-items-baseline justify-content-center">

                <div class="col-4">

                    <h2>My profile</h2>

                    <a class="hover-profile" href="/profile/myRecipes">My recipes</a><br>

                    <a class="hover-btn logout" href="/logout">Log Out</a><br>

                    <a class="hover-btn logout" href="/welcome">Go back</a><br>

                </div>

                <div class="col-8">

                    <p class="show fadeInRight">Pastry chefs make the world smell better</p>

                    <div class="row justify-content-center">

                        <div class="col-8">

                            <img class="image show fadeInRight" src="/images/pastry.jpg" alt="chef">

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    {{> footer}}

</main>